@{
    ViewBag.Title = "Dashboard";
}
<div class="container" style="background-color: #ded9ee; color: #7b1d52;">
    <h2>Welcome to the Dashboard!</h2>

    <ul>
        <li style="color: #7b1d52;">@Html.ActionLink("View Panel Members", "Index", "PanelMembers")</li>
        <li style="color: #7b1d52;">@Html.ActionLink("View Candidates", "Index", "Candidate")</li>
        <li style="color: #7b1d52;">@Html.ActionLink("View Interview Schedules", "Index", "InterviewSchedules")</li>
    </ul>
</div>




